<div class="container">

    <div class="col-sm-6 col-sm-offset-3">



        {{#if messages}}

        <div class="row">
            <div class="alert alert-danger">
                {{#each messages}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        </div>

        {{/if}}

        <form action="/member/register" method="POST" class="form-horizontal" role="form">
       
            <div class="form-group">
                <legend>{{__ 'Member Register'}}
                    <span class="pull-right">
                        <a href="/member/login"> {{__ 'I already have an account'}}</a>
                    </span>
                </legend>

            </div>

            <div class="form-group">
                <legend>{{__ 'Create a new profile'}}</legend>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">

                        <label for="firstname">{{__ 'firstname'}}</label>
                        <input type="text" name="firstname" class="form-control" placeholder="{{__ 'Please input your first name'}}">

                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="lastname">{{__ 'lastname'}}</label>
                        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="{{__ 'Please input your last name'}}">
                    </div>
                </div>

            </div>





            <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="email">{{__ 'email'}}</label>
                            <input type="text" name="email" class="form-control" placeholder="{{__ 'Please input email address'}}">
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="password">{{__ 'password'}}</label>
                            <input type="password" name="password" class="form-control" placeholder="{{__ 'Please input password '}}">
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="re-password">{{__ 're-password'}}</label>
                            <input type="password" name="re-password" class="form-control" placeholder="{{__ 'Please retype password'}}">
                        </div>
                    </div>
            </div>


            <div class="form-group">
                    <legend>{{__ 'Newsletter Register'}}</legend>

            </div>

            <div class="form-group">

                <label for="newsletter"{{__ 'Do you want to subcribe to our promotional email ?'}}></label>
                <br/>
                <input type="radio" name="newsletter" value="1" checked="checked"/> {{__ 'Yes'}}
                <input type="radio" name="newsletter" value="0" checked="checked"/> {{__ 'No'}}

            </div>


      


            <div class="form-group">

                    <div class="checkbox">
                        <label class="pull-left">
                            <input type="checkbox" name="accept" value="1"> {{__ 'I have read and agree to the Terms'}}
                        </label>
                    </div>

               

                    <button type="submit" class="btn btn-primary pull-right">Submit</button>

                

            </div>

        </form>

    </div>

</div>